* {
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: bisque;
}

h1, h2{
    text-align: center;
    background-color: black;
    color: white;
}

img {
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
}

.recipe-list{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.page-image{
    display: flex;
    justify-content: center;
}